body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f3f4f6;
}

/* Top Header */
.header{
    height:70px;
    background:#2563eb;
    display:flex;
    align-items:center;
    padding:0 20px;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

/* Logo */
.logo{
    height:55px;
    width:200px;
    object-fit:contain;
}

/* Left Sidebar */
.sidebar{
    width:130px;
    height:100vh;
    background:#2563eb;
    position:fixed;
    top:70px;
    left:0;
    padding-top:20px;
}

/* Sidebar Links */
.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px;
    font-weight:bold;
    font-size:16px;
}

.sidebar a:hover{
    background:#2563eb;
}

/* Main Content */
.main{
    margin-left:200px;
    margin-top:90px;
    text-align:center;
}

/* Cards Layout */
.cards{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

/* Individual Card */
.card{
    background:white;
    width:200px;
    padding:20px;
    margin:10px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    font-weight:bold;
}
.stats{
    display:flex;
    justify-content:center;
    margin:30px 0;
}

